
@{
    Layout = null;
}

<!DOCTYPE html>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetToKnowJoel">Get to Know Joel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddMovie">Add Movie</a>
        </li>

    </ul>
</div>

<h1>Get to Know Joel</h1>

<p>
    Joel performs regularly with Quick Wits Comedy.  Check them out here:
    <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
</p>

<p>
    He also co-hosts the Baconsale podcast.  Visit the site here:
    <a href="https://baconsale.com/" target="_blank">Baconsale</a>
</p>

<a href="https://baconsale.com/" target="_blank">
    <img src="https://byu.box.com/shared/static/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4.jpg" alt="Baconsale Crew" />
</a>

